
*{

        margin: 0, 0, 0, 0,;
        padding: 0, 0, 0, 0;
}

#display {
        border: 10px solid purple;
        width: 100%;
        text-align: center;
        margin: 0 auto;
        position: : relative;
}

th, td {
        border-bottom: 5px solid #ddd;

}

tr {
        font-size: 20px;

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
li {
    border-right: 1px solid #bbb;
}

li:last-child {
    border-right: none;
}

#chart_div {
    margin: auto;
    postion: relative;
    padding-right: 180px;
    max-width: 200px;
}
